html, body{
  height:100%;
  weight: auto;
  margin: auto;
  color: #42a1f4;
  font-family: monospace;
}
#head{
  text-align: center;
  background-color: #190d2d;
  width:100%;
  color:white;
}
#nav-bar{
  width:100%;
  height:50px;
  background-color:#f7f8f9;
  text-align: center;
  margin-top:-15px;
  border-bottom: solid 1px black;
}
#nav-bar a{
  color: black;
  border-radius:5px;
  padding:5px;
  text-decoration: none; 
}
#nav-bar a:hover{
  background-color:#190d2d;
  color:white;
}
#nav-bar a:hover:visited{
  color:white;
}
#nav-bar a:visited{
  color:black;
}
ul{
  display:inline-block;
  list-style: none;
  text-align: center;
}
li{
  float:left;
  margin:10px;
}
p{
  margin:20px;
  color:black;
  font-family: arial;
}
