html, body{
  height:100%;
  weight: auto;
  margin: auto;
  color: #42a1f4;
  font-family: monospace;
}
#head{
  text-align: center;
  background-color: #190d2d;
  width:100%;
  color:white;
}
#nav-bar{
  width:100%;
  height:auto;
  background-color:#f7f8f9;
  text-align: center;
  margin-top:-15px;
  border-bottom: solid 1px #f7f8f9;
}
#nav-bar a{
  border-radius:5px;
  padding:5px;
  text-decoration: none;
}
#nav-bar li:hover{
  background-color:#190d2d;
  color:white;
  border-radius: 5px;
  padding:5px;
}
#nav-bar a:hover:visited{
  color:white;
}
#nav-bar a:visited{
  color:black;
}
ul{
  display:inline-block;
  list-style: none;
  text-align: center;
}
li{
  float:left;
  margin:5px;
  width:15%;
}
#main-post{
  width:50%;
  height:auto;
  border: 1px solid #f7f8f9;
  margin:auto;
  margin-top:50px;
  border-radius: 5px;
  box-shadow: -5px 5px 10px silver;
  background-color:#f7f8f9;
}
h3{
  color:black;
  text-align: center;
}
p{
  margin:20px;
  color:black;
  font-family: arial;
}
footer{
  width:100%;
  height:300px;
  bottom:0;
  left: 0;
  right:0;
  margin-top:10px;
  background-color: #f7f8f9;
}
